<p>
    O e-rede é a solução adequada para o lojista que já possui fluxo de vendas em sua loja e
    deseja oferecer uma forma de pagamento direta com as principais operadoras de cartões de crédito (VISA, Mastercard,
    Hipercard e Diners).
</p>
<p>
    O pagamento ocorre através de checkout transparente, ou seja, o comprador se mantém na loja o
    tempo todo até a conclusão do pedido, transmitindo mais segurança ao processo.
</p>
<p>
    A rede permite taxas especiais, além do serviço de anti-fraude, parcelamento com/sem juros e
    recebimento antecipado. Consulte as condições junto à rede.
</p>
<p>
    <strong>Como usar e-rede em minha loja?</strong>
</p>
<p>
    É necessário credenciar sua empresa junto a operadora antes de inserir suas configurações
    nessa página. Para isto, acesse a página deiss
    <a href="https://services.redecard.com.br/Novoportal/portals/servico/autocredenciamento.aspx" title="Criar credenciamento no Rede" target="_blank">credeciamento</a>
    e siga os passos.
</p>
<p>
    Sua loja também deve possuir <a href="{% url "painel_configuracao_dominio" %}">domínio
    próprio</a> e <a href="{% url "plataforma_certificado" %}">certificado SSL</a>.
</p>
<p>
    Para detalhes sobre a configuração do e-rede, <a href="https://suporte.lojaintegrada.com.br/hc/pt-br/articles/203635684" title="Como configurar eRede" target="_blank">clique</a> e acesse o artigo.
</p>
